<div class="middle aligned content">
  <div class="field {{if error 'error'}} {{if field.required 'required'}}">
    <label>{{field.title}}</label>
    <img src="{{field.description}}" class="ui fluid image">
  </div>
</div>