<div class="middle aligned content">
  <div class="field {{if error 'error'}} {{if field.required 'required'}}">
    <label>{{field.title}}</label>
    {{input type="text" value=value}}
  </div>
</div>
