<h2 id={{anchor}}>{{field.title}}</h2>

{{#each field.items as |item|}}
  {{component 
    item.componentName 
    field=item 
    error=(get changeset.error item.key) 
    value=(get changeset item.key) 
    update=(action update item.key)
  }}
{{/each}}
