<label>
  {{@field.title}}
  {{#if @field.required}}*{{/if}}
</label>
<textarea rows="4" onchange={{action @update value="target.value"}} oninput={{action @update value="target.value"}}>{{@value}}</textarea>