{{page-title "Dummy"}}
<h2 id="ui header title">Welcome to Ember Kinetic Forms</h2>

<LinkTo @route="kinetic-form" class="ui button">Generic Example</LinkTo>
<LinkTo @route="semantic-ui-kinetic-form" class="ui button">Semantic-UI Example</LinkTo>

<hr>

<article class="ui section">
  {{outlet}}
</article>
