<h2 id="ui header title">Welcome to Ember Kinetic Forms</h2>

{{link-to "Generic Example" "kinetic-form" class="ui button"}}
{{link-to "Semantic-UI Example" "semantic-ui-kinetic-form" class="ui button"}}
{{link-to "Nested Section Example" "nested-section-form" class="ui button"}}

<hr>

<article class="ui section">
  {{outlet}}
</article>
