<h2 id="title">Welcome to Ember</h2>

{{kinetic-form
    definition=sampleDefinition
    model=sampleModel
    onSubmit=(action "sendToServer")}}

<hr>

{{semantic-ui-kinetic-form
    definition=sampleDefinition
    model=sampleModel
    onSubmit=(action "sendToServer")}}
