<SemanticUiKineticForm @formComponent="test-override-form" @definition={{sampleDefinition}} @model={{sampleModel}} @onSubmit={{action "sendToServer"}} />

<span class="on-submit-did-validations">{{lastSubmitValidated}}</span>
