<SemanticUiKineticForm @formComponent="test-override-form" @definition={{this.sampleDefinition}} @model={{this.sampleModel}} @onSubmit={{action "sendToServer"}} />

<span class="on-submit-did-validations">{{this.lastSubmitValidated}}</span>
